body{
    text-align: center;
    background-repeat: no-repeat;
    background-image: url("bg.webp");
    opacity: 0.9;
}
  
  h3{
      text-align: left;
      top: 2%;
      color: white;
  }
  button:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  
